:root {
  --color-bg: #fff;
  --color-txt: #000;
}

[data-theme="dark"] {
  --color-bg: #000;
  --color-txt: #fff;
}

body {
  background-color: var(--color-bg);
  color: var(--color-txt);
  transition:
    background-color 0.3s,
    color 0.3s;
}

#theme-btn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  display: inline-block;
  #theme-btn svg {
    display: none;
  }
}

body[data-selected-theme="system"] #theme-system,
body[data-selected-theme="light"] #theme-dark,
body[data-selected-theme="dark"] #theme-light {
  display: block;
}
