#theme-btn {
  border: 0;
  background: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-txt);
  position: relative;
}
#theme-btn svg {
  position: absolute;
  transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  transform: rotate(-90deg);
}
[data-selected-theme="light"][data-theme-source="manual"] #theme-light,
[data-selected-theme="dark"][data-theme-source="manual"] #theme-dark,
[data-theme-source="system"] #theme-system {
  opacity: 1;
  transform: rotate(0);
}
